<nav class="#eeeeee grey lighten-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img style="vertical-align: middle" src="/static/img/logoItem.png"/>
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa fa-bars"></i></a>
            <ul class="right language">
                <li class="{{mkActive}}"><a href="/">MK</a></li>
                <li class="{{enActive}}"><a href="/en">EN</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li class="{{mainPage}}"><a href="/">Почетна</a></li>
                <li class="{{ideaPage}}"><a href="/idea">За идејата</a></li>
                <li class="{{teamPage}}"><a href="/get-team">ГЕТ тим</a></li>
                <li class="{{newsPage}}"><a href="/news">Вести</a></li>
                <li class="{{contactPage}}"><a href="/contact-us">Контакт</a></li>
                </ul>

        </div>
    </div>
</nav>

<div id="sidenavMenu">
    <ul class="sidenav" id="mobile-demo">
        <li class="noHover"><a><i class="fa fa-bicycle"></i>ГЕТ Велосипед</a></li>
        <div class="divider"></div>
        <li class="{{mainPage}}"><a href="/">Почетна</a></li>
        <li class="{{ideaPage}}"><a href="/idea">За идејата</a></li>
        <li class="{{teamPage}}"><a href="/get-team">ГЕТ тим</a></li>
        <li class="{{newsPage}}"><a href="/news">Вести</a></li>
        <li class="{{contactPage}}"><a href="/contact-us">Контакт</a></li>
    </ul>
</div>